apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    basicAuth: false
    editable: true
    jsonData:
      httpMethod: GET
      prometheusType: Prometheus
      prometheusVersion: 2.45.0
      exemplarTraceIdDestinations:
        - name: traceID
          datasourceUid: tempo
          urlDisplayLabel: View in Tempo
      manageAlerts: true
      alertmanagerUid: alertmanager

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    basicAuth: false
    editable: true
    uid: alertmanager
    jsonData:
      implementation: prometheus
